:root {
	--background-color: #fbfbfb;
	--primary-text-color: #040316;
	--secondary-text-color: #040316e1;
	--primary-color: #15223e;
	--secondary-color: #e6e6e6;
	--accent-color: #fda312;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

main {
    margin-top: 5.5rem;
}
